@page "/"
@inject MainViewModel ViewModel

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="pa-4">
    <!-- Loading Overlay -->
    <MudOverlay @bind-Visible="ViewModel.IsProcessing" Absolute="true" AutoClose="false" Class="full-page-overlay">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </MudOverlay>
    
    @foreach (var template in ViewModel.TemplateDocuments)
    {
        <div>@template.Name</div>
    }
    
    <!-- Floating Action Button -->
    <MudFileUpload T="IBrowserFile" FilesChanged="ViewModel.UploadTemplateFile"
                   Style="position: fixed; right: 24px; bottom: 24px;">
        <ActivatorContent>
            <MudFab Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.AttachFile"/>
        </ActivatorContent>
    </MudFileUpload>
</MudContainer>